
*{
    font-family: "Poppins", sans-serif;

}


.register-container{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    min-height: 100vh;
    width: 100%;
    padding: 24px; 


    background: url("../../../public/assets/background-register.png") center / cover no-repeat;
    background-color: #f3f4f6;

  
}




.register-card{
    max-width: 720px;
    width: 100%;
    margin-top: 16px;
    padding: 0;
    
    
}


.register-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}